.avatar {
    border: 2px solid #d3d3d3;
}


.is-grey {
    background-color: #d3d3d3;
}

#img {
    display: flex;
    justify-content: center;
}

.img-project {
    border-radius: 15px;
    border: 2px solid #d3d3d3;
}

.flex-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.flex-item {
    flex-grow: 1;
}

.additional-content {
    margin-top: auto;
}

.redes {
    transition: all 0.8s;
}

.redes:hover {
    transform: scale(1.05);
}

.padding-x {
    padding: 15px 50px !important;
}

#hero {
    border-radius: 10px !important;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.05);
}